[submodule "coin-contracts/lib/forge-std"]
	path = coin-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "coin-contracts/lib/solady"]
	path = coin-contracts/lib/solady
	url = https://github.com/vectorized/solady
