[submodule "coin-contracts/lib/forge-std"]
	path = coin-contracts/lib/forge-std
	url = git://github.com:foundry-rs/forge-std.git
[submodule "coin-contracts/lib/solady"]
	path = coin-contracts/lib/solady
	url = git://github.com:vectorized/solady.git
