/*Universal Styling*/
:root {
    --background-image: url("images/american-2798408_1280.jpg");
    /*Font Size 80 @1200 > 60 @900*/
    --step--2: clamp(2.6042rem, 1.027rem + 2.8039vw, 3.2rem);
    --step--1: clamp(3.125rem, 0.8088rem + 4.1176vw, 4rem);
    --step-0: clamp(3.75rem, 0.4412rem + 5.8824vw, 5rem);
    --step-1: clamp(4.5rem, -0.1324rem + 8.2353vw, 6.25rem);
    --step-2: clamp(5.4rem, -0.986rem + 11.3529vw, 7.8125rem);
    --step-3: clamp(6.48rem, -2.2172rem + 15.4618vw, 9.7656rem);
    --step-4: clamp(7.776rem, -3.9532rem + 20.8519vw, 12.207rem);
    --step-5: clamp(9.3312rem, -6.3595rem + 27.8945vw, 15.2588rem);
    --step--2-24px: clamp(0.5208rem, -0.6417rem + 2.0667vw, 0.96rem);
  --step--1-24px: clamp(0.625rem, -0.8971rem + 2.7059vw, 1.2rem);
  --step-0-24px: clamp(0.75rem, -1.2353rem + 3.5294vw, 1.5rem);
  --step-1-24px: clamp(0.9rem, -1.6809rem + 4.5882vw, 1.875rem);
  --step-2-24px: clamp(1.08rem, -2.2652rem + 5.9471vw, 2.3438rem);
  --step-3-24px: clamp(1.296rem, -3.0285rem + 7.6879vw, 2.9297rem);
  --step-4-24px: clamp(1.5552rem, -4.0219rem + 9.9149vw, 3.6621rem);
  --step-5-24px: clamp(1.8662rem, -5.311rem + 12.7595vw, 4.5776rem);
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Monda-VariableFont_wght.ttf");
    font-family: "Army-Rust";
    src: url("./fonts/ARMY_RUST.ttf");
  }

* {
    box-sizing: border-box;
}


.sr-only{
    display: none;
}  
@media(min-width: 876px){
    .mobile-nav-toggle{
        display: none;
    }
    .navigation ul{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .section-two {
        margin-left: 10rem;
        margin-right: 10rem;
        font-size: var(--step-0-24px);
    }
}
    
@media(max-width: 875px) {

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        padding: 5rem 2rem;
        transition: .5s;
        gap: 2em;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
        transition: .5s;
    }
    .navigation ul {
        grid-template-columns: 1fr;
    }
    .mobile-nav-toggle {
        position: absolute;
        background-image: url(images/menu_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #1a17171f;
        backdrop-filter: blur 10px;
        border: none;
        border-radius: 8px;
        z-index: 9999;
        right: 1rem;
        top: 1rem;
        height: 2rem;
        width: 2rem;
    }
    .mobile-nav-toggle[aria-expanded="true"]{
        background: url(images/close_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg);
        background-repeat: no-repeat;
    }
    .section-two {
        margin-right: 5vw;
        margin-left: 5vw;
    }
    .buy-now {
        opacity: .7;
        color: white;
    }
}    
body {
    font-family: "Inter";
    margin: 0;
    color: #828282;
    font-size: var(--step-0-24px);
}
.header, .navigation {
    margin: 0;
    padding: 0;
}

.logo {
    background-image: url("images/logo.png");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;
    height: 10vh;
    width: 10vh;
    border-radius: 50px;
    border: none;
    margin: 1vh;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 10;
}

.header {
    position: relative;
    width: 100%;
    height: 10vh;
}

.navigation ul {
    padding-inline-start: 0;
    background-color: #bb133dad;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.3rem;
    padding: 0.8rem;
    margin: 0;
    width: 100%;
}

.navigation li {
    list-style: none;
    text-align: center;
    border-radius: 15px;
    padding: 0.5rem;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation li:hover {
    transform: scale(1.05);
}

.navigation a:link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.navigation a:visited {
    color: #a7a6a6;
}


.navigation a:hover {
    color: azure;
}


.navigation a:focus {
    outline: none;
    text-decoration: underline;
}

.section-one {
    background-image: var(--background-image);
    height: 45vh;
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    position: relative;
    transform: scaleX(-1);
}

.section-one > * {
    transform: scaleX(-1);
}

.section-one-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) scaleX(-1);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.body .inter {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    text-align: left;
    letter-spacing: normal;
}

.buy-now {
    position: sticky;
    top: 350px;
    left: 2rem;
    z-index: 9999;
    border: double 8px #bb133d;
    font-weight: 900;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    padding: 0;
    background-color: #ffffff;
    color: #0a3161;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.2;
    box-shadow: 0 0 10px rgba(187, 19, 61, 0.3);
    backdrop-filter: blur(1px);
}

.memoriam {
    background-image: url("./images/us-flag-3838582_1920.jpg");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center; 
    height: 600px;  
    padding-top: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.memoriam-contents {
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: #0a3161c0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1em;
    height: 500px;
    color: white;
    border-radius: 30px;
    padding: 1rem;
    position: relative;
}

.grid-row-span-2 {
    grid-column: span 2;
}

.memoriam-one,
.memoriam-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
    height: auto;  
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.memoriam-one:hover,
.memoriam-two:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.memoriam-one img,
.memoriam-two img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: cover;
    max-height: 300px;
    z-index: 1;
}

.memoriam-one:hover img,
.memoriam-two:hover img {
    transform: scale(1.05);
}

.memoriam-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    opacity: 0;
    width: 90%;  
    max-height: none; 
    text-align: center;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.memoriam-one:hover .memoriam-text,
.memoriam-two:hover .memoriam-text {
    opacity: 1;
}

.memoriam-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0.5rem 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 3;
    opacity: 1;  
    transition: opacity 0.3s ease; 
}


.memoriam-one:hover .memoriam-name,
.memoriam-two:hover .memoriam-name {
    opacity: 0; 
}

@media (max-width: 768px) {
    .memoriam-contents {
        margin-left: 2rem;
        margin-right: 2rem;
        grid-template-columns: 1fr;
    }

    .memoriam-one,
    .memoriam-two {
        text-align: left;
    }

    .memoriam-one img,
    .memoriam-two img {
        max-height: 200px;
    }

    .memoriam-name {
        bottom: 15px;
    }

    .buy-now {
        left: 1rem;
        width: 80px;
        height: 80px;
        font-size: 16px;
    }

    .section-one-text {
        font-size: 20px;
        bottom: 15px;
    }

    .logo {
        height: 8vh;
        width: 8vh;
        left: 0.8rem;
        top: 0.8rem;
    }
}

.bottom {
    background-color: #0a3161;
    color: #a7a6a6;
    padding: 1rem;
}

.footer-links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-links a {
    text-decoration: none;
    color: #a7a6a6;
}

.footer-links a:hover {
    color: azure;
}

.socials img{
    height: 16px;
}

.socials {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.socials .bluesky img{
    height: 24px;
}

.motto {
    text-align: center;
    font-size: 60px;
    color: #0a3161;
}

/*Home Page Styling*/

.heli {
    height: 30vw;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section-two h1 {
    font-size: 35px;
    color: #0a3161;
}

.section-two img{
    height: 20vw;
    float: right;
}

.salute {
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70vw;
}

.text-image-box strong{
    color: #000;
}

.body h1 {
    font-family: "Army-Rust";
    text-align: center;
    font-size: var(--step-0);
    letter-spacing: 4px;
    font-weight: 500;
    margin-top: -20px;
}

.partner-contents {
    /*background-image: url("./images/us-flag-3838582_1920.jpg");*/
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;   
    padding-top: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partner-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1em;
    height: 1100px;
    color: #062863;
    border-radius: 30px;
    padding: 1rem;
    position: relative;
}

.grid-row-span-2 {
    grid-column: span 2;
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.partner {
    border: solid #bb133d 6px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0rem;
    height: auto;  
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 300px;
    width: 300px;
}

.partner:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.partner img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: cover;
    max-height: 300px;
    z-index: 1;
}

.partner:hover img {
    transform: scale(1.05);
}

.partner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    opacity: 0;
    width: 90%;  
    max-height: 80%;
    text-align: center;
    transition: opacity 0.3s ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.partner-text h4 {
    margin: 0 0 0.5rem 0;
    text-align: center;
}

.partner-description {
    text-align: center;
    line-height: 1.5;
}

.partner:hover .partner-text {
    opacity: 1;
}

.partner-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0.5rem 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    z-index: 3;
    opacity: 1;  
    transition: opacity 0.3s ease; 
}


.partner:hover .partner-name {
    opacity: 0; 
}

@media (max-width: 768px) {
    .partner-contents {
        margin-left: 2rem;
        margin-right: 2rem;
        grid-template-columns: 1fr;
    }

    .partner {
        text-align: left;
    }

    .partner img {
        max-height: 200px;
    }

    .partner-name {
        bottom: 15px;
        background-color: #a7a6a6;
        text-align: center;
        border-radius: 25px;
    }
    .body h1 {
        font-size: var(--step--1);
    }
}

.bold strong{
    color: #000;
}

.section-three strong {
    color: #000;
}

.section-three h4 {
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 25px;
}

.section-three h3 {
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    color: #062863;
    line-height: 1;
    font-weight: 900;
}

.section-three {
    margin-left: 8.1em;
    margin-right: 8.1em;
}

.section-three .bold{
    font-size: 30px;
    color: #062863;
}

.section-three img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.right {
    text-align: right;
}

.section-two h3{
    font-size: 30px;
}
.section-four h3 {
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    color: #062863;
    line-height: 1;
    font-weight: 900;
}

.section-four {
    margin-left: 8.1em;
    margin-right: 8.1em;
}
.section-five h3 {
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    color: #062863;
    line-height: 1;
    font-weight: 900;
}

.section-five {
    margin-left: 8.1em;
    margin-right: 8.1em;
}

h3 {
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    color: #062863;
    line-height: 1;
    font-weight: 900;
}

.vote ul {
    list-style: none;
    text-align: center;
}

.vote li {
    font-size: 36px;
    color: #000;
}

.vote-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vote-header img {
    height: 60px;
}

.vote-box {
    border: solid #062863 6px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 40vw;
    margin: auto;
    gap: 0rem;
    border-radius: 20px;
}

.vote-box p {
    grid-column: 1 / 3;
    font-size: var(--step-3-24px);
    color: #000;
    font-weight: 900;
    margin: .6em;
}

.vote-box button {
    width: 15vw;
    height:5vw;
    border-radius: 25px;
    border: none;
    font-size: var(--step-0-24px);
    justify-content: center;
    align-items: center;
}

.vote-box .vote {
    background-color: #000;
    color:#ffffff;
    justify-content: center;
    align-items: center;
}

.vote-box .learn {
    background-color: #828282;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

@media (max-width: 875px) {
    .navigation ul {
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }
    
    .navigation a:link {
        font-size: 16px;
    }
}
